@using Microsoft.AspNet.Identity
@using Sitecore.Security
@using Sitecore;
@using Sitecore.Mvc;
@using SitecoreX.Framework;
@if (Sitecore.Context.IsLoggedIn)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + Sitecore.Context.User.Profile.FullName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@SitecoreX.Framework.Helper.UrlHelper.RegistrationUrl">Register</a>
        </li>
        <li>
            <a href="@SitecoreX.Framework.Helper.UrlHelper.LoginUrl">Login</a>
        </li>
    </ul>
}
