<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <commerce.synchronizeProducts.synchronizeClassifications>
        <processor type="Sitecore.Commerce.Pipelines.Products.SynchronizeClassifications.ReadSitecoreClassifications, Sitecore.Commerce">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Products.SynchronizeClassifications.ResolveClassificationsChanges, Sitecore.Commerce">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Products.SynchronizeClassifications.SaveClassificationsToExternalCommerceSystem, Sitecore.Commerce">
          <patch:delete />
        </processor>
        <!-- Setup a custom processor to handle synchronization of Mock Data for Classifications -->
        <processor type="CommerceConnectTest.ClassificationSyncProcessor, CommerceConnectTest" patch:after="processor[@type='Sitecore.Commerce.Pipelines.Products.SynchronizeClassifications.ReadExternalCommerceSystemClassifications, Sitecore.Commerce']" />
        <processor type="CommerceConnectTest.ClassificationGroupSyncProcessor, CommerceConnectTest" patch:after="processor[@type='Sitecore.Commerce.Pipelines.Products.SynchronizeClassifications.ReadExternalCommerceSystemClassifications, Sitecore.Commerce']" />
      </commerce.synchronizeProducts.synchronizeClassifications>
    </pipelines>
  </sitecore>
</configuration>