<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!--<commerce.synchronizeProducts.synchronizeDivisions>
        <processor type="Sitecore.Commerce.Pipelines.Products.SynchronizeDivisions.ReadSitecoreDivisions, Sitecore.Commerce">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Products.SynchronizeDivisions.ResolveDivisionsChanges, Sitecore.Commerce">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Products.SynchronizeDivisions.SaveDivisionsToExternalCommerceSystem, Sitecore.Commerce" >
          <patch:delete />
        </processor>
        <processor type="CommerceConnectTest.DivisionSync, CommerceConnectTest" patch:after="processor[@type='Sitecore.Commerce.Pipelines.Products.SynchronizeDivisions.ReadExternalCommerceSystemDivisions, Sitecore.Commerce']" />
      </commerce.synchronizeProducts.synchronizeDivisions>-->

    </pipelines>
  </sitecore>
</configuration>